<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticket Details</title>
    <link rel="stylesheet" href="styles.css">
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <div class="navbar">
        <a id="nav1" href="/">Home</a>
        <a id="nav2" href="/tickets">Ticket</a>
        <a id="nav3" href="/logout">Logout</a>
    </div>

    <div class="ticket-details">
        <h2>Ticket Details</h2>
        <button id="close-button" class="close-button">Close</button>
        <div class="details-section">
            <span>Ticket ID: </span><span id="ticket-id">1234</span>
            <hr>
            <h3 id="ticket-title">Ticket Title</h3>
            <p id="ticket-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <span id="ticket-priority">high</span>
        </div>
        <hr>
        <div class="person-section">
            <h3>Assigned Person</h3>
            <p id="e-name">Name: John Doe</p>
            <p id="e-expertise">Expertise: Technical Support</p>
        </div>
        <hr>
        <div class="chat-section">
            <h3>Chat</h3>
            <div id="chat-messages" class="chat-messages">
                <div class="message">
                    <span class="sender">BOT:</span> Hi, how can I assist you?
                </div>
                <!-- <div class="message">
                    <span class="sender">User:</span> I'm having trouble with my account.
                </div> -->

            </div>
            <div class="input-box">
                <input type="text" id="message-input" placeholder="Type your message...">
                <input type="file" id="file-input" name="ticket-chat-img" accept="image/*, .pdf, .docx" >
                <!-- <button id="file-btn"><img width="25" height="25" src="https://img.icons8.com/ios/50/attach.png" alt="attach"/></button> -->
                <button id="send-button" class="send-button">Send</button>
            </div>
        </div>
        <script src="/static/eachticket.js"></script>
    </div>
</body>
</html>
